* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}
body {
    color: rgba(0, 0, 0, 0.692);
    background-color: #ecf0f1;
    font-weight: lighter;
    line-height: 1.5;
    margin: 0;
}
/* Top MY blog */
header {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}
header h1 {
  color: black;
  font-size: 3.5rem;
  font-weight: lighter;
  margin: 2rem 0;
}
header p {
  font-size: 1.3rem;
}
p > span {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.3rem 0.8rem;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.content {
    background-color: white;
    position: relative;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.253);
}
img {
    width: 100%;
}
.left-side {
    width: 50%;
    margin-left: auto;
    margin-right: 3rem;
}
.right-side {
    width: 25%;
    margin-right: auto;
}
.title-heading {
    margin-bottom: 3rem;
}
.title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
    font-weight: 600;
}
.desc {
    font-size: 1.7rem;
    padding: 0 1.5rem;
    font-weight: bolder;
    margin: 0;
}
.desc > span {
    color: rgba(0, 0, 0, 0.329);
}
.container {
    padding: 0 1.5rem;
}
.text {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    /* color: black; */
    font-weight: bolder;
}
.container {
    display: flex;
    justify-content: space-between;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
.left > span {
    display: inline-block;
    font-size: 1.4rem;
    width: 14rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.151);
    text-align: center;
    padding: 1.5rem;
    margin: 2rem 0;
    cursor: pointer;
}
.left > span:hover {
    background-color: #bdc3c7;
    transition: all 0.2s ease;
}
.right {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
    margin-top: 3.5rem;
    margin-right: 3rem;
}
.comment > b {
    display: inline-block;
    width: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: .2rem 0;
    margin-left: .5rem;
}
/* Blog entry */
.blog-entry {
    margin-bottom: 3rem;
}
/* My Name Box */
.my-name {
    margin-bottom: 3rem;
}
.my-name .title {
    font-weight: 500;
    color: black;
}
.my-name > img {
    width: 100%;
}
.my-name .text {
    padding: 0 1.5rem 2rem 1.5rem;
}
/* Menu box */
.menu {
    margin-bottom: 3rem;
}
.menu__heading {
    width: 100%;
    background-color: #ecf0f1;
    font-size: 2rem;
    padding: 1.5rem;
}
.list {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
.list__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.123);
}

.text-container {
    font-size: 1.3rem;
    padding: 0 1.5rem;
}
.text-container .item-title {
    font-size: 1.7rem;
}
.list__item img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}
.list__item:hover {
    background-color: #B8B8B8;
}
/* hr {
    border: none;
    height: 0.2px;
    background-color: rgba(0, 0, 0, 0.151);
} */
/* Tags box */
.tags {
    margin-bottom: 3rem;
}
.tags__items {
    font-size: 1.2rem;
    padding: 1.5rem;
}
.items__highlight {
    display: inline-block;
    width: 7rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
    text-align: center;
    margin: 0 0.2rem 2rem;
}
.items__normal {
    display: inline-block;
    width: 7rem;
    background-color: #ecf0f1;
    text-align: center;
    padding: 0.2rem;
    margin: 0 0rem 2rem 0.2rem;
}
/* Footer */
footer {
    width: 100%;
    height: 16rem;
    background-color: #696969;
    overflow: hidden;
    padding: 0;
    margin: 2rem 0 0 0;
}
.choice {
    font-size: 1.5rem;
    margin: 3rem 1.5rem;
}
.previous {
    display: inline-block;
    width: 9rem;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 1rem 0;
    opacity: 0.3;
    cursor: not-allowed;
}
.next {
    display: inline-block;
    width: 9rem;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 1rem 0;
    cursor: pointer;
}
.previous:hover {
    background-color: #B8B8B8;
    transition: all 0.2s linear;
    
}
.next:hover {
    background-color: #D3D3D3;
    color: black;
    transition: all 0.2s linear;
}
footer p, a {
    color: #f5f6fa;
    font-size: 1.4rem;
}
footer p {
    padding: 0 1.5rem;
}
@media screen and (max-width: 767px) {
    .main {
        padding: 0 1.6rem;
    }
    .left-side {
        width: 100%;
        margin: 0;
    }
    .right-side {
        width: 100%;
    }
    .container .right {
        display: none;
    }
}
